<p id="publish-box">
This is the Current officially released version of the US Core FHIR Implementation Guide {{site.data.fhir.igName}} Implementation Guide, based on <a href="{{ site.data.fhir.path }}">FHIR Version {{ site.data.fhir.version }}</a>. See the <a href="{{ site.data.fhir.canonical }}/history.html">Directory of published versions <img src="external.png"/></a>
<br /><br />
This Implementation Guide is published by the <a href="http://www.hl7.org/Special/Committees/usrealm/index.cfm">HL7 US Realm Steering Committee</a>.  To submit formal requests for changes use <a href="http://gforge.hl7.org/gf/project/fhir/tracker/?action=TrackerItemAdd&tracker_id=677">GForge</a>.  When submitting a tracker, select 'US Core' for the Specification.
</p>
